# IDE
.idea
_site


# Python
*.pyc
.ipynb_checkpoints

# Data
_data
*.gz
*.zip
*.alz
*.data
*.json
*.npz
*.pkl
*.span
*.txt
*.context
*.question
*.answer
cifar-10-batches-py
*.h5
joblib
glove.840B.300d.txt
*.log

# Specific Data
imdb_full.pkl

# TensorFlow Model
*.model
*.tfmodel
_network
_network_backup
_tfmodel
checkpoints

# R
.Rhistory
